/* Selected tag {
    property : value
} */
h1 {font-size:large; font-family: Verdana, Geneva, Tahoma, sans-serif; color: blue;}
h2 {color: blue; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: medium;}
ul {background-color: #8cd4fd; color: white;}
ul {font-style: normal; font-family: Verdana, Geneva, Tahoma, sans-serif;}
h3 {color: blueviolet; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: medium;}
h4 {color:blueviolet; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: medium;}